table {
  margin: 1rem 0.5rem;
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 0.5px solid lightgray;
}

thead tr th {
  color: grey;
}

th {
  font-weight: 200;
}

th,
td {
  padding: 5px 0;
}

tbody tr {
  text-align: center;
}

.fa-trash {
  margin-left: 5px;
}

.icon {
  cursor: pointer;
}